// Niri configuration - split into modules.
// https://kdl.dev
// https://yalter.github.io/niri/Configuration:-Introduction

include "input.kdl"
include "outputs.kdl"
include "layout.kdl"
include "startup.kdl"
include "noctalia.kdl"
include "animations.kdl"
include "rules.kdl"
include "keymaps.kdl"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

gestures {
    hot-corners {
        off
    }
}
