cursor {
  xcursor-theme "Bibata-Modern-Classic"

  hide-when-typing
  hide-after-inactive-ms 3000
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

gestures {
    hot-corners {
        off
    }
}

